<html>
    <head>
        <title>hayoung's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">hayoung's Blog</a></h1>
        </div>

        <div>
            <p>published: 2024. 01. 11, 12:38</p>
            <h2><a href="">My first post</a></h2>
            <p>AAA BBB CCC DDD EEE FFF GGG HHH</p>
        </div>

        <div>
            <p>published: 2024. 01. 11, 11:38</p>
            <h2><a href="">My second post</a></h2>
            <p>AAA BBB CCC DDD EEE FFF GGG HHH III JJJ KKK</p>
        </div>
    </body>
</html>